<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Dungeon Mania</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/style/gameStyle.css">
  </head>
  <body>
    <div class="flex-container">
      <!-- player status panel -->
      <div id="player-status-panel" class="panel">
        <span id="username"><%= username %></span>
        <span id="score">0</span>

        <div id="weapon-and-aura-sub-panel" class="sub-panel">

          <div id="weapon-micro-panel" class="micro-panel">
            <span class="weapon-micro-panel-heading">WEAPON</span>
            <img class="weapon-micro-panel-image" src="/static/asset/image/placeholder.png">
            <span class="weapon-micro-panel-attribute"></span>
          </div>

          <div id="aura-micro-panel" class="micro-panel">
            <span class="aura-micro-panel-heading">AURA</span>
            <img class="aura-micro-panel-image" src="/static/asset/image/aura.png">
            <span class="aura-micro-panel-attribute"></span>
          </div>

        </div>

        <div id="active-poison-sub-panel" class="sub-panel">
          <span class="active-poison-panel-heading">ACTIVE POISONS</span>

          <div id="active-poison-sub-panel-images-section">
            <div class="active-poison-micro-panel" data-position="0">
              <img class="active-poison-micro-panel-image" src="/static/asset/image/placeholder.png">
              <span class="active-poison-micro-panel-attribute"></span>
            </div>
            <div class="active-poison-micro-panel" data-position="1">
              <img class="active-poison-micro-panel-image" src="/static/asset/image/placeholder.png">
              <span class="active-poison-micro-panel-attribute"></span>
            </div>
            <div class="active-poison-micro-panel" data-position="2">
              <img class="active-poison-micro-panel-image" src="/static/asset/image/placeholder.png">
              <span class="active-poison-micro-panel-attribute"></span>
            </div>
          </div>
        </div>

        <div id="button-sub-panel" class="sub-panel">
          <button id="roll-dice-button" class="button">Roll</button>
          <button id="pause-button" class="button">Pause</button>
        </div>

        <span id="dice-number"></span>
      </div>

      <!-- grid panel -->
      <div id="grid-panel" class="grid-container panel">

        <% for(let i=0;i<grid.length;i++) { %>
            <% for(let j=0;j<grid[i].length;j++){ %>

              <div class="cell" data-x=<%= i %> data-y=<%= j %>>
                <img class="cell-image" src=<%= grid[i][j].getImageSource() %>>
                <span class="cell-attribute"><%= grid[i][j].getAttribute() %></span>
              </div>

            <% }; %>
        <% }; %>

      </div>
    </div>

    <script src="/static/script/gameScript.js" defer></script>
  </body>
</html>
